

.card-front {
  /* Layout */
  display: flex;
  aspect-ratio: 5 / 7;
  width: auto;
  height: 20rem;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.75rem 0rem;

  /* Styling */
  border-radius: 10.086px;
  background: linear-gradient(180deg, #faf9f6 0%, #e4e4e4 100%);
  box-shadow: 6.724px 7.732px 10.086px 0px rgba(0, 0, 0, 0.25);
}

.card-front-top {
  display: flex;
  align-items: center;
  gap: 3.362px;
  align-self: stretch;

  color: #1a1e3b;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  .card-front-top > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3.362px;
  }
}

.card-front-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.card-front-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;

  color: #1a1e3b;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-front-bottom > div {
  transform: rotate(180deg);
}

.card-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.card-suit {
  width: auto;
  height: auto;
  flex-shrink: 0;

  fill: var(
    --black-gradient,
    linear-gradient(180deg, #212121 52.88%, #878787 100%)
  );
}


